.charging-sprite {
    display: inline-block;
    background-image: url('../images/sprite.png');
    background-position: 0 0;
    width: 200px;
    height: 150px;
}

.sprite-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sprite-text {
    color: #53003c;
    font-weight: 700;
    font-size: 1.6rem;
}