@keyframes sprite {
    0% {
        background-image: url('../images/sprite.png');
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    50% {
        background-image: url('../images/sprite.png');
        background-repeat: no-repeat;
        background-position: -325px 0;
    }

    100% {
        background-image: url('../images/sprite.png');
        background-repeat: no-repeat;
        background-position: -650px 0;
    }
}

.charging-sprite {
    display: inline-block;
    background-image: url('../images/sprite.png');
    background-position: 0 0;
    width: 200px;
    height: 150px;
}

.sprite-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

}