.desktop__form {
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: -1px;
    display: flex;
    height: 10vh;
    z-index: 40;
    box-shadow: 0px 3px 5px 0px #000;
    -webkit-box-shadow: 0px 3px 5px 0px #000;
    -moz-box-shadow: 0px 3px 5px 0px #000;
}

.desktop__form > * {
    border:none;
    outline: none;
    padding: .5rem;
    color: #fff;
    background-color: #a384ffee;
    font-size: 2rem;
    border-right: #000c 1px solid;
}

.desktop__form input {
    width: 80vw;
    padding: 1rem;
}

.desktop__form select, .desktop__form select > * {
    background-color: #a384ffee;
    cursor: pointer;
    width: 5vw;
}

.desktop__form button {
    width: 15vw;
    cursor: pointer;
}