@import '../snippets/remsizing';

.gif-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gif-container p {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: fit-content;
    background-color: #000c;
    color: #fff;
    text-align: center;
}

.gif-img {
    min-height: 10rem;
    min-width: 10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    transition: all 1s;
}
