@import '../snippets/remSizing';

.gif-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.gif-container p {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: fit-content;
    background-color: #000c;
    color: #fff;
    text-align: center;
}

.gif-img {
    min-height: 10rem;
    min-width: 10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    transition: all 1s;
}

.gif-img.click {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    z-index: 50;
    transition: all 1s;
}