@import '../snippets/colors';

.shadows {
    box-shadow: 3px 0px 10px 0px #112221;
-webkit-box-shadow: 3px 0px 10px 0px #112221;
-moz-box-shadow: 3px 0px 10px 0px #112221;
}

.header {
    width: 100vw;
    height: 50vh ;
}

.header__text {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header__text > p {
    background: transparent;
    text-align: center;
    line-height: 2;
    width: 50%;
    color:$secondary-color;
    font-weight: 400;
    margin-top: .8rem;

}

.header__heading {
    background-color: transparent;
    color: $secondary-color;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: .2rem;
    user-select: none;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
    .header__heading {
        cursor: pointer;
    }
}

