.shadows {
    box-shadow: 3px 0px 10px 0px #112221;
-webkit-box-shadow: 3px 0px 10px 0px #112221;
-moz-box-shadow: 3px 0px 10px 0px #112221;
}

.header {
    width: 100%;
    height: 25rem;
    position: relative;
    background-image: linear-gradient(#0009, #0009) ,url('../images/bg2.jpg');
    background-position: center;
    background-size: cover;
}

.header__heading {
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.header__form {
    max-width: inherit;
    width: 90%;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 1rem;
    display: flex;
    justify-content: center;
}

.header__form > input , select {
    height: 6rem;
    background: #000;
    border: none;
    outline: none;
    color: #fff;
    border: 1px solid #ccc5;
    font-size: 2rem;
}


.header__form > input:first-child {
    flex-grow: 3;
    flex-basis:3;
    border-right: #111d 1px solid;
    padding: 2rem;
    transition: background 150ms ease-in;
}

.header__form > input:first-child:focus {
    background: #112221;
}

.header__form > input:nth-child(2) {
    width: 6rem;
    appearance: none;
    padding: 1rem;
}

.header__form > input:nth-child(2):focus {
    background: #121;
}

.search:last-child { 
    width: 10rem;
    transition: background-color .250s;
    background-color: #ddffdd;
    cursor: pointer;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%    
}


.search:last-child:hover {
    background-color: #aaffdd;
}

.header__form > select {
    padding: 1rem;
}