/* #84c2ff  original  */
/* #a384ff  analogous  */
/* #84ffc2 analogous 2  */

.shadows {
    box-shadow: 3px 0px 10px 0px #112221;
-webkit-box-shadow: 3px 0px 10px 0px #112221;
-moz-box-shadow: 3px 0px 10px 0px #112221;
}

.header {
    width: 100vw;
    height: 50vh ;
    background-image: linear-gradient(#000d, #000d), url('../images/headerbg2.gif');
    background-size: cover;
    background-position: center;
}

.header__text {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header__text > p {
    background: transparent;
    text-align: center;
    line-height: 2;
    width: 50%;
    color:#a384ffcc;
    font-weight: 400;
    margin-top: .8rem;

}

.header__heading {
    background-color: transparent;
    color: #a384ff;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: .2rem;
    user-select: none;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

