@import '../snippets/colors';
@import '../snippets/remsizing';

.header {
    width: 100vw;
    height: 20vh ;
}

.header__text {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header__text > p {
    background: transparent;
    text-align: center;
    line-height: 1.5;
    width: 90%;
    color:#111;
    font-weight: 700;
    font-size: 1.8rem;

}

.header__heading {
    background-color: transparent;
    color: #000;
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: .2rem;
    margin: 2rem 0 1rem 0;
    user-select: none;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
    .header__heading {
        cursor: pointer;
    }
}

