.container {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    grid-template-rows: masonry;
    gap: .5rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    }
}


