.container {
    margin-top: 8rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-rows: repeat(auto, 1fr);
    gap: 1rem;
}
