.container {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-template-rows: masonry;
    gap: 1rem;
}

.advice {
    margin: 1rem;
    color: #f00;
}
