$min: 20rem;

.container {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax($min,1fr));
    grid-template-rows: masonry;
    gap: 1rem;
}


