@import '../snippets/colors';
@import '../snippets/remsizing';

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
     b{
        width: 10%;
         font-size: 3rem;
         font-weight: 700;
     }

    .arrow {
        width: 5rem;
        height: 5rem;

        @media (min-width: 768px) {
            cursor: pointer;
            &:hover {
                transition: transform 200ms ease-in-out;
                transform: scale(1.1);
            }
        }
        
        &.prev {
            transform: rotate(180deg);
    
            @media (min-width: 768px) {
                &:hover {
                    transform: scale(1.1) rotate(180deg);
                }
            }
        }

    
    }
}




