.pages__container-p {
    display: block;
    width: 90vw;
    height: 5rem;
    padding-top: 1rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem auto;
    text-align: center;
    background-color: #6e3eff ;
    transition: background-color 250ms;
}

.pages__container-p:active {
    background-color: #6e3eff99;
}

@media (min-width: 1024px) {
    .pages__container-p {
        cursor: pointer;
    }

    .pages__container-p:hover {
        background-color: #6e3eff99;
    }
}



