@keyframes animateMenu {
    0% {
        background-position: center;
    }

    50% {
        background-position: bottom;
    } 

    100% {
        background-position: center;
    }
}

.header__form {
    width: 100vw;
    height: 2rem;
    background-color: transparent;
}



.header__form > input, .header__form > select, .search, .closeForm {
    z-index: -20;
    opacity: 0;
}


/* active form  */
.header__form.formActive > input, .header__form.formActive > select, .header__form.formActive .search {
    display: inline-block;
    z-index: 20;
    opacity: 1;
    font-weight: 400;
    font-size: 2rem;
    outline: none;
    border: 1px dashed black;
    border-radius: 4px;
    transition: opacity 1s;
    margin-bottom: 1rem;
    background-color: #ddc;
}

.header__form.formActive ~ .closeForm {
    position: fixed;
    opacity: 1;
    z-index: 20;
    filter: invert();
    background-color: transparent;
    top: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    cursor: none;
}

.header__form.formActive > input:focus, .header__form.formActive > select:focus {
    background-color: #ffc;
} 

.header__form.formActive > input[type="text"] {
    width: 98vw;
    height: 8rem;
    padding: 1rem;
    font-weight: 400;
    font-size: 2rem;
}

.header__form.formActive > select, .header__form.header__form.formActive select > * {
    width: 8rem;
    height: 5rem;
    cursor:none;
    background-color: #ddc;
}

.header__form.formActive > .search {
    width: fit-content;
    height: fit-content;
    font-size: 2.5rem;
    font-weight: 700;
    cursor:none;
    background-color: transparent;
    border: none;
    outline: none;
}

.search img {
    padding: .5rem;
    width: 30vw;
    border-radius: 4px;
    height: 6rem;
    background-color: #fff;
    transition: background-color 250ms;
    border: 1px solid black;
}

.search img:active {
    background-color: #999;
}


.header__form.formActive {
    background-color: transparent;
    padding: 8rem 0 6rem 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 10;
}

.dropDown {
    display: block;
    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    background-image: url('../images/openmenu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    background-color: transparent;
    filter: invert();
    padding: 1rem;
    animation: animateMenu 2s infinite;
    transition: 1s ease-in-out;
    cursor: none;
    z-index: 10;
}

.dropDown.isActive{
    animation:none;
    height: 100vh;
    background-image: none;
    background-color: #fff9;
}

.isActive ~ .header__form > input, .isActive ~ .header__form > select, .isActive ~ .search {
    display: inline-block;
}

@media (min-width: 1024px) {
    .shadows {
        box-shadow: none;
    }

    .dropDown {
        display: none;
    }

    .header__form {
        height: 6rem;
        position: sticky;
        top: 0;
        left: 0;
        display:flex;
        margin: 0;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        z-index: 20;
    }

    .header__form > input, .header__form > select, .search, .header__form > select > * {
        opacity: 1;
        font-weight: 400;
        font-size: 2rem;
        outline: none;
        border: none;
        border-radius: 4px;
        z-index: 30;
        margin: 0;
        border-radius: 0;
        background-color: #ddc;
        border-right: 1px solid #000;
        
    }

    .header__form > input[type="text"] {
        width: 80vw;
        padding: 2rem;
    }

    .header__form > select {
        width: 5vw;
        cursor: pointer;
    }

    .search img{
        width: 15vw;
        cursor: pointer;
        transition: background-color 250ms;
        border:none;
    }

    .search img:hover {
        background-color: #aaa;
    }

    .search img:active {
        background-color: none;
    }

}