@import '../snippets/colors';
@import '../snippets/remSizing';
.form {
    $bgc: #000;
    display: flex;
    height: 6rem;
    max-height: 6rem;
    width: 100vw;
    max-width: 50rem;
    margin: 5rem auto;
    border-radius: 10px;
    background-color: $bgc;
    
    &  * , select > *{
        font-size: 1.8rem;
        background-color: $bgc;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 10px;
        padding: 1rem;
    }
    
    input {
        flex-grow: 3;
    }

    button {
        transition: background-color 150ms ease-out;
        &:hover {
            background-color: #232a2e;
        }
        @media (min-width: 768px) {
            cursor:pointer;
        }
    }

    select {
        padding: 0;
        width: fit-content;
        @media (min-width: 768px) {
            cursor:pointer;
        }
    }
}